body {
  margin: 0;
}

.container {
  width: 1280px;
  margin: 250px auto 0;
  padding: 20px 0;
  text-align: center;
}

.image-content img {
  width: 300px;
  margin-bottom: 20px;
}

.search-content {
  background-color: #eee;
  padding: 10px;
}

.search-content input {
  width: 300px;
  height: 20px;
  margin: 5px 0;
}

.search-content button {
  margin: 5px;
}

.link-content {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  background-color: #80cbc4;
  padding: 10px;
  box-sizing: border-box;
}

.card a {
  color: blue;
  text-decoration: underline;
  font-size: 14px;
}

.footer-content {
  margin-top: 10px;
  font-size: 12px;
}
